* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #FFC0CB;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  /* height: 400px; */
  width: 350px;
  border-radius: 10px;
  background-color: antiquewhite;
  /* padding: 0 20px; */
  /* position: relative; */
  /* overflow: hidden; */
}
.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}
.card .top .left {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
}
.card .top .left img {
  height: 50px;
  border-radius: 50%;
  width: 50px;
  border: 2px solid black;

}
.card .top .right h3 {
  background-color: rgb(82, 82, 240);
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}
.card .middle img {
  width: 100%;
  height: 350px;
  /* border-radius: 10px; */
  cursor: pointer;
}
.card .middle div{
    position: relative;
      overflow: hidden;
}
.card .middle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(-90deg);
  transition: all ease 0.5s;
  font-size: 80px;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwYHBw0NBwcHBwcHBwoHCAcHBg8ICQcKIBEWFhURFRUYHCggGBoxGxUfITEhMSkrLi4uFx8zODMsNygtLisBCgoKDQ0NGA0NDisZHxktKystKystLSsrKysrKysrKysrKysrLS0rKysrKysrKzctKysrLTcrLSsrKysrKysrK//AABEIAKgBLAMBIgACEQEDEQH/xAAZAAEBAQEBAQAAAAAAAAAAAAACAQADBwb/xAAWEAEBAQAAAAAAAAAAAAAAAAAAAQL/xAAbAQEBAQADAQEAAAAAAAAAAAADAgcBBQYEAP/EABYRAQEBAAAAAAAAAAAAAAAAAAEAAv/aAAwDAQACEQMRAD8A+/tc9UtULXgMl3xG1zpaoWmySEdVztLVCnySBG0NUtVz1TZJCNC0rXO02SQI2hqla52mySEbQ1S1XPVNkrCNoWlaGqfJIR1XO0rQ1TZJCNrnqlaGqbJIEbQq2hqmySBG0Kto02Suw1UpQjWiVaJQiW1GrUKES0RkKES2FUpAiWiVUKES0RqhQiW9d1QtK1z1WOZISNoapUNU2SQja50qFpskhG1zpWhafJIR1XO0rQtNkrCOqFq2hqmySEbQtXVC02SQKWueqWq52mySEbQtLVc6fJIFNVz1S1XO02SQpa56pWhqmySEalaoYL80qLUpAiWlSqNKES0qKhQiWiVkKES2FahAhWlRUpQiWlRkKES3rdoWlqudrHclwR1Q1S1XOmySBS1ztK1z1TZKylrnqlQtPkkI2ueqVoWmySEbXPVLVDVNkkI0LVtDVNkkI6oVbQ1TZJAjaGqVrnafJIEdULStc7TZJApqudLVCmyV2qVkpQoWiVahQiWlGrUIEK0RahQiWlRkpQiWiVUKES0RaJAiW1RqhQiW9ZtDVWhqseyVhG0KtoWmyVhHVC0tVztNkkI6oWla52mySBG0LS1QtPkkI6rnaWqFNkkCNc9UtUNU2SQja52laFNkkCNrnqlqhabJIRoapWueqfJWRqVqhQuW1FalKES0qVRpQiW1FUpQiWiVRIES2FahQiWlRUpQhWiVkpQiWyMhAiW9X1XPVLVC1j+ScjaGqtoapskhG0LVoWmySEbQtK1z1TZJCNDVK1ztPkkCNoWlaGqbJIR1XO0rQtNkkCNrnaVoWmyVhHVc6VoWmySEbQq6o0+SQpUrJShQthq1CBEtKlWiUIloi1ChEtKjIUIVsNVCBEtEVChEtEaoUIltRWiQIlvVdUKVoWsgyX1hG1ztLVC02SQja52lqhabJIEbXO0tULTZJCOq52lqhTZJCNDVK1z1T5JCNC0rXOmyVhS1z1S1XO02SQpXPVK0NU2SQI0atEwXLao1SlCNaVKqUgQrSiqUoRLRKolCJbIyFCJbCqFCJaIo0gRLZGSlCFaVGqFCNb1OhaVrnqsgyX3kdULSrnqmySBS1ztLTnqmySFLXPVK0LTZJAja52lQtNkrI6rnaVoWnySBHVC0rXPVNkkCOqFq2habJIR1QpaoU2SQpUrJShQthqoUIlolWiUIloi1ChEtEUSBEtkapShEtKlVKUIVolWiQIltRq0aUIlsjIUIlvUdUNUtVztZBku0CNoWlqudp8kgRtC0tVztNkkKarnaVrnTZKwpXPVK0NU2SQja56pWhTZJAja56paoWnySEaGqVrnabJIRo1ahgqaI1QgRLaiqUoRLSo1SlCJaIqUoRLRKyFCFbDVqECJaVFqUoRLSoyUoRLSotEoRLaoyECJb0/VC1aGqyHJdwEbQtWhafJWRtDVKudpskgRtCla52mySFNVztLVc7TZJApa52laGqbJIEdVzpaoWnySBHVc9FqhTZJClRRpQpWyVkpQhWiVaNIES2GrUKES0RahQiWlRqlKES0qVUpAiWiVaJQhWw1alKES0SshQiWwqhAiW9Ntc7S1QtZFku8CNrnaVoWnySEdVz1S1QtNkkI2hqla56pskhG0NUrXO02SQjQ1S1XPVNkkI0NUrXPVNkkCloValMFTRKtEoRLao1SlCJaVGqUoRLYVSlCJaJVEgRLZK1QoQrSotSlCJaVFGkCJbUVolCJbVGQoRLRFQoRLelWhazMizegIWudrMbMhDVc6zGzIQtc9VmNmQhqhWY+ay52hWY2ZC52hqsxsyEKjMUuGlSsxSJoNVikTGpUYpE0RmIRNKjMUiaVKzFIWKVmKRNErMQiYpWYpE0SoxSJoisUib/9k=);
  
}
.card h1 {
  padding-top: 30px;
  text-align: center;
}
.card .bottom {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
}

.card .bottom i {
  font-size: 25px;
  cursor: pointer;
  margin: 0 5px;
 
  
}
.card .bottom #love{
     background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
