




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* main{
    
    
} */

.card{
  /* height: 300px; */
  width: 400px;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 30px 30px;
}
.card h1{
    font-weight: 700;
    font-size: 17px;
    padding: 20px 0;
}
.card h1 span{
    color: rgb(56, 56, 234);
}
.outer{
    height: 20px;
    width: 100%;
    background-color: gray;
    border-radius: 50px;
    
}
.inner{
    height: 100%;
    border-radius: 50px;
    width: 0%;
    background-color: green;
}

.bottom{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    
}
.bottom p{
    font-size: 30px;
    font-weight: 800;
}
.bottom button{
    font-weight: 500;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.bottom button:active{
    scale: 0.9;
}