* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-color: black; */
}
body {
  display: flex;
  background-color: black;
  color: wheat;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box {
  width: 300px;
  padding-inline: 10px;
  padding: 10px 20px ;
  padding-bottom: 10px;
  
  border-radius: 30px;
  background: linear-gradient(black) padding-box,
  conic-gradient(from var(--rotate), black,rgb(235, 0, 200),black) border-box;
  border: 0px solid rgba(255, 255, 255,0);
  animation: borderRotat  2s infinite ;
  animation-timing-function: linear;
  animation-play-state: paused;
  transition:  all 0.3s ease-in;
  box-shadow: 0 0 0px rgb(0, 0, 0);
  color: wheat;
  text-shadow: 0 0 20px rgb(0, 0, 0);

}
.box:hover{
  animation-play-state: running;
  border-width: 5px ;
  padding: 10px 20px ;
  box-shadow: 0 0 40px rgb(229, 40, 226);
  color: rgb(235, 0, 200);
  text-shadow: 0 0 20px rgb(235, 0, 200);
}


@keyframes borderRotat {
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
    
}


.box img {
  width: 100%;
}
.box .bottom {
  padding: 10px 10px;
}
