*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
     background: #f2f2f2;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
      font-family: monospace;
}


.box {
  background: #fff;
  width: 380px;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  padding: 2rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;  
  text-align: center;
}
.box:hover{
    background-color: #f2f2f2;
}


.box .teamcode {
    font-size: 2.2rem;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 50px;
}

.fullname,
.trophie,
.captain {
    font-size: 1.2rem;
    font-weight: 600;
   
}

.box img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #eee;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

button {
    padding: 12px 20px;
    background: #111;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

button:active {
    background: #333;
    scale: 0.90;
}
