*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    background: #f3f3f3;
  color: #000;
  font-family: Arial, sans-serif;
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bottom{
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 3rem 0;

}
button{
    padding: 10px 18px;
    border-radius: 0.5rem;
    border: none;
    background: #111;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    background: #333;
}

.counter {
  background: #fff;
  width: 380px;
  height: 380px;
  border-radius: 1rem;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  padding: 2rem 1rem;
  display: block;
  text-align: center;
}
.result{
    color: #111;
    font-weight: 700;
    font-size: 3rem;
}
