*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


button{
    padding: 10px 20px;
    background-color: rebeccapurple;
    font-weight: 800;
    color: aquamarine;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    
    
}

button:active{
    scale: 0.9;
}


