*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
}


:root{
    --x: 200px;
    --y: 200px;
}

video{
    
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    
}
.spotlight{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: radial-gradient( 100px at var(--x) var(--y), rgba(255, 255, 255, 0),rgb(0, 0, 0));


}